name: Test

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Load cache
        uses: Swatinem/rust-cache@v2
      - name: Test
        run: make can-release
