name: Test

on:
  push:
    branches-ignore:
      - draft-release
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Load cache
        uses: Swatinem/rust-cache@v2
      - name: Test
        run: make can-release

  update-draft-release-branch:
    name: Update draft-release branch
    needs: test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Push to draft-release
        uses: alice-biometrics/github-push-action@v0.7.0
        with:
          target-branch: draft-release
          force: true
          github-token: ${{ secrets.RELEASE_TOKEN }}
